.container
    .navbar.navbar-fixed-top: div.navbar-inner 
        div.container: a.brand(href='/')= title

    .row
        .span8
            p
                a.label(href=path)= id
                &nbsp;
                a.label.label-info(href='/') create new

            ul.nav.nav-pills.syntax-tab
                each lang in langs
                    if (syntax == lang)
                        li.active: a(href='#')= lang
                    else
                        li: a(href='#')= lang
            form.flake-form(method='post',action=path)
                div.wrapper
                    div#editor= flake
                textarea(name='flake')#flake-body
                input.syntax(type='hidden',name='syntax',value=syntax)
                input.btn.btn-large.btn-primary(type='submit',value='SAVE')

        .span4
            if (recent && recent.length > 0)
                ul.nav.nav-list
                    li.nav-title RECENT FLAKES
                    each flake in recent
                        li.item: a(href=flake)= flake

            if (flake)
                p &nbsp;
                ul.nav.nav-list
                    li.nav-title OTHER FORMAT
                    li.item: a(href='#{path}/json') JSON
                    li.item: a(href='#{path}/plain') PLAIN

script(src='/javascripts/jquery.min.js')
script(src='/javascripts/ace/ace.js')
script(src='/javascripts/codeflake.js')
